@import './../style/animations';
@import './../style/owfont-regular';

.wrapper {
    overflow-x:scroll;
}

.day {
    display:block;
    margin-bottom: 10px;
    overflow: auto;
    text-align: center;
    animation: fadein 0.7s ease-in;

    .hour {
        float: left;
        display: block;
    }

    .temperature {
        font-size: 26px;
        margin-top: -10px;
        font-weight: 200;
    }

    .time {
        font-size: 12px;
        font-weight: 200;
    }
}

.icon {
    font-size: 38px;
    margin-bottom: 7px;
}